.ar-btn{
    padding-bottom: 50px;
}
.hero-section-rectangle{
    /* transform: scaleX(-1); */
    background: url(../img/RectangleAr.png) no-repeat ; 
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    background-position:bottom;
}
.outline-btn{
margin-right: 5px;
}
.pink{
margin-right: 10px;
}
.blue{
margin-right: 10px;
    
}
.green{
    margin-left: 10px;

}
.yellow{
margin-left: 10px;

}
@media(max-width:768px){
.pink{
margin-left: 10px;
}
.blue{
    margin-left: 10px;
}
}
@media(max-width:425px){
    .outline-btn{
        margin-right: 0px;
    }  
    .tablet-btn {
        align-items: start !important;
        margin-right: 0px !important;
    }
}
[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl;
}